body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #283747;
    color: white;
    padding: 1.5em 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 15px;
}

h2 {
    text-align: center;
    color: #283747;
    margin-bottom: 30px;
}

.productos-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.producto-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s;
}

.producto-card:hover {
    transform: translateY(-5px);
}

.producto-card img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: contain;
    border-radius: 4px;
    margin-bottom: 15px;
}

.precio {
    color: #2ECC71;
    font-weight: bold;
    font-size: 1.5em;
    margin: 10px 0;
}

.descripcion {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 15px;
    height: 3em; /* Para mantener la altura de la tarjeta similar */
    overflow: hidden;
}

button {
    background-color: #3498DB;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980B9;
}

footer {
    background: #283747;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: 50px;
}